modules = ["python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Python Exercise"

[[workflows.workflow]]
name = "Run Python Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/03.1-basic-inheritance/solution.hide.py"

[deployment]
run = ["sh", "-c", "python exercises/03.1-basic-inheritance/solution.hide.py"]
